* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  margin: 0 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
}

.nav-items > ul > li {
padding: 10px;
}

.logo {
  height: 100px;
  padding: 0.5rem
}

.card {
  width: 300px;
  padding: 1rem;
  margin: 1rem ;
  border-radius: 5px;
}

.card:hover {
  border: 1px solid #d6d6d6;
  box-shadow: 7px 4px 9px 1px #75757533;
}

.card > img {
  width: 100%;
}

.card>.name {
  font-size: 1.1rem;
  margin-bottom: 0.2rem;
  font-weight: 500;
  font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
}

.card>.cuisine {
  color: #686b78;
  font-size: 0.8125rem;
  margin-top: 0.25rem;
  font-weight: 300;
  font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
}

.body {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}


/* shimmer code */
.shimmer-card {
  width: 18.75rem;
  height: 20rem;
  padding: 1rem;
  margin: 1rem ;
  border-radius: 5px;
  /* border: 1px solid rgb(223, 223, 223); */
}

.shimmer-card > .img {
  margin: 1rem;
  height: 7rem;
  opacity: .7;
  animation: skeleton-loading 0.8s infinite alternate-reverse;
  border: 1px solid rgb(223, 223, 223);
}

.shimmer-card > .name {
  margin: 1rem;
  height: 1rem;
  opacity: .7;
  animation: skeleton-loading 0.8s infinite alternate-reverse;
  border: 1px solid rgb(223, 223, 223);
}

.shimmer-card > .name-2 {
  margin: 1rem;
  width: 5rem;
  height: 1rem;
  opacity: .7;
  animation: skeleton-loading 0.8s infinite alternate-reverse;
  border: 1px solid rgb(223, 223, 223);
}

@keyframes skeleton-loading {

  0% {
background-color: #eef0f5;
  }

  100%{
    background-color: white;
  }
}

.restaurant {
  margin-top: 1rem;
}
